.postsContainer {
  margin-top: 7rem;
  max-width: 50%;
}

.element {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 5rem;
  left: 50%;
  /* pink color */
  color: #bd89ff;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;

  &:active {
    transform: scale(0.99);
  }
  &:hover {
    /* blue background activated when element is hovered */
    background-color: #5353ff;
    color: #ffffff;
    transform: translate(1px, -1px);
  }

  svg {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
  }

  .label {
    font-weight: 600;
    &:hover {
      color: #ffffff;
    }
  }
}
