* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//

input[type='file'] {
  display: none;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 0.5rem;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.file-upload-name {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #01330d;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
}

.file-upload-label:hover {
  background-color: #218838;
}

.icon-remove {
  color: #bf6d6d;
  scale: 2;

  cursor: pointer;
}
.icon-remove:hover {
  color: #a72828;
  scale: 2.3;
  cursor: pointer;
}

.icon-file {
  color: #218838;
  scale: 4;
  margin: 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.icon-file:hover {
  color: #01330d;
  scale: 4.3;
  cursor: pointer;
}

.file-name {
  font-size: 16px;
}

.folder-container {
  padding: 10px;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.file-container {
  padding: 10px;
  display: inline-block;
  width: 300px;
  text-align: center;
}

.files-header {
  color: #01330d;
}
