.navContainer {
  position: fixed;
  top: 0;
  border-radius: 0 0 2rem 2rem;
  width: 100vw;
  height: 80px;
  background-color: rgba(36, 40, 50, 1);
  background-image: linear-gradient(
    139deg,
    rgba(36, 40, 50, 1) 0%,
    rgba(36, 40, 50, 1) 0%,
    rgba(37, 28, 40, 1) 100%
  );
}

.mainNav {
  position: fixed;
  top: 0;
  display: flex;
  margin: auto;
  width: 30vw;
  height: 80px;
}

.appNav {
  position: fixed;
  right: 10vw;
  top: 0;
  display: flex;
  margin: auto;
  width: 65vw;
  height: 80px;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
}

.element {
  display: flex;
  align-items: center;
  /* pink color */
  color: #bd89ff;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;

  &:active {
    transform: scale(0.99);
  }
  &:hover {
    /* blue background activated when element is hovered */
    background-color: #5353ff;
    color: #ffffff;
    transform: translate(1px, -1px);
  }

  svg {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
  }

  .label {
    font-weight: 600;
    &:hover {
      color: #ffffff;
    }
  }
}

/* 
  grey color option to use instead of pink in line 38 ->  color: #bd89ff;

  another background option to use instead of blue in line 49 -> background-color: rgba(56, 45, 71, 0.836);

} */

/* TODO: currently this is not used */
.mainNavIcon {
  /* display: flex; */
  position: relative;
  left: 15%;
  text-align: center;
  top: 50%;
  scale: 3;
  /* align-items: center; */
  color: #7e8590;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  /* border-radius: 6px; */
  cursor: pointer;
  &:active {
    transform: scale(0.99);
  }
}
