.posts {
  list-style: none;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post {
  display: block;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  /* max-width: 50%; */
}
